<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab_login</title>
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>
    <div class="main_page">
        <div class="login_container">
            <h2 class="login">Login</h2>
            <form id="login_form">
                <input class="login_input_text" type="email" name="email" placeholder="Enter your Email" autocomplete="off" required><br>
                <input class="login_input_text" type="password" name="password" placeholder="Enter Password here" autocomplete="off" required><br>
                <button class="login_btn" type="submit">Login</button>
            </form>
        </div>
        <div class="sign-up_container">
            <h2 class="sign_up">Sign Up</h2>
            <form id="sign_up_form">
                <input class="signup_input_text" type="text" name="ownerName" placeholder="Enter Username here" autocomplete="off" required><br>
                <input class="signup_input_text" type="email" name="email" placeholder="Enter your Email" autocomplete="off" required><br>
                <input class="signup_input_text" type="password" name="password" placeholder="Enter Password here" autocomplete="off" required><br>
                <button class="signup_btn" type="submit">Sign Up</button> 
            </form>
        </div>
    </div>

    <script src="../controller/login.js"></script>
    <script src="../database/owner_data.js"></script>
</body>
</html>